# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/GS-BK_Laptop-Liste/.vs/GS-BK_Laptop-Liste/v15
/GS-BK_Laptop-Liste/GS-BK_Laptop-Liste/Debug
